* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  color: aliceblue;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  background-image: url(./images/cool-background.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.box {
  cursor: default;
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: #4458;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 50px #222;
  backdrop-filter: blur(50px);
}

.box h3 {
  position: absolute;
  top: 30%;
  left: -10%;
  font-size: 40px;
  z-index: 99;
}

.lang {
  width: 300px;
  height: 150px;
  background-color: #2229;
  border-radius: 10px;
  position: absolute;
  box-shadow: 10px 10px 30px #222;
  z-index: 2;
  backdrop-filter: blur(50px);
}

.lang p {
  text-align: center;
  font-weight: 700;
  margin: 5px;
}

.con {
  width: 80%;
  height: 100px;
  margin: auto;
  border-radius: 5px;
  background-color: #999;
  overflow: hidden;
}

.lang-con {
  height: 20px;
  width: 80%;
  background-color: #888;
  margin: 10px auto;
  border-radius: 5px;
}

.title {
  width: 400px;
  font-size: 50px;
  margin: 100px 0 0 100px;
  cursor: default;
}

.tolink {
  width: 400px;
  border-top: 5px solid aliceblue;
  font-size: 40px;
}