* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  color: #cdd;
  font-family: Helvetica;
}

html {
  background-color: #223;
}

header {
  width: 100%;
  min-height: 200px;
}

#title {
  font-size: 64px;
  font-weight: bolder;
  padding: 50px 0;
  text-align: center;
}

nav {
  margin: auto;
  max-width: 60%;
  min-width: 400px;
  min-height: 80px;
  border-top: 2px solid #cdd;
  border-bottom: 2px solid #cdd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

nav a {
  font-size: 32px;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #cdd;
  border-radius: 10px;
  color: #223;
}

main h2 {
  text-align: center;
  padding: 20px;
  font-size: 48px;
}

.block {
  background-color: #fff5;
  width: 75%;
  min-width: 400px;
  min-height: 400px;
  max-height: 100%;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px 0;
}

#person h3 {
  padding: 20px;
  font-size: 32px;
}

#person a {
  padding: 0 30px;
  font-size: 24px;
}

#person a:hover {
  color: #223;
}